[submodule "packages/my_cpp_pkg"]
	path = packages/my_cpp_pkg
	url = git@github.com:saratrajput/my_cpp_pkg.git
[submodule "packages/my_py_pkg"]
	path = packages/my_py_pkg
	url = git@github.com:saratrajput/my_py_pkg.git
